@page
@model Ticket_Blaster.Pages.Event
@{
	string[] localEventArray = {"Bringing Down Ballard", "Eli Cuchna", "Absolute Blazer", "Tonight", "Ballard Hall", "We party rockin' " };
	string[] localEventArray2 = { "The Emptys", "Donut Dandy", "Concert", "04/28/2023", "Downtown Fargo", "Listen to some music!" };
}

<!DOCTYPE html>
<html>
<head>
	<title>Events</title>
</head>
<body>
	<h1>Local Events</h1>
	<h4>Let's party!</h4><br />
	<h3>@localEventArray[0]</h3>
	<p>Host: @localEventArray[1]</p>
	<p>Type: @localEventArray[2]</p>
	<p>Date: @localEventArray[3]</p>
	<p>Location: @localEventArray[4]</p>
	<p>Description: @localEventArray[5]</p>

	<br /><br />

	<h3>@localEventArray2[0]</h3>
	<p>Host: @localEventArray2[1]</p>
	<p>Type: @localEventArray2[2]</p>
	<p>Date: @localEventArray2[3]</p>
	<p>Location: @localEventArray2[4]</p>
	<p>Description: @localEventArray2[5]</p>


</body>
</html>